:root{
    --cor-primaria: #b30000;
    --cor-secundaria: #ff1a1a;
    --cor-fundo: #000000;
    --cor-caixa: #1a1a1a;
    --cor-texto: #f5f5f5;

    --fonte-principal: Arial, sans-serif;

    --borda-radius: 12px;
    --sombra: 0 0 20px rgba(255, 0, 0, 0.5);
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    background: linear-gradient(to bottom, #000000, #1a0000);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.caixa{
    background-color: var(--cor-caixa);
    padding: 35px;
    width: 350px;

    border-radius: var(--borda-radius);
    box-shadow: var(--sombra);

    text-align: center;
    border: 2px solid var(--cor-primaria);
}

h1{
    color: var(--cor-primaria);
    margin-bottom: 20px;
    text-shadow: 0 0 10px red;
}

p{
    margin-bottom: 25px;
    line-height: 1.5;
}

button{
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: var(--borda-radius);
    cursor: pointer;
    font-size: 16px;
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

button:hover{
    background-color: var(--cor-secundaria);
    transform: scale(1.05);

    box-shadow: 0 0 15px red;
}

.conteudo{
     border: 2px solid red;
    padding: 20px;
    border-radius: 12px;

    box-shadow: 0 0 15px red;

}

img{
display: block;
    margin: 0 auto;
} 
 
.botoes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}