:root{
    --cor-primaria:#bf1fe3;
    --cor-segundaria:#f574e0;
    --cor-fundo: #f4f4f5;
    --cor-texto: #27272a;
    --cor-branca: #ffffff;

    --fonte-principal: Arial, sans-serif;

    --borda-radius: 10px;
    --sombra:0 4px 10px rgba;

}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

caixa{
    background-color: var(--cor-branca);
    padding: 30px;
    border-radius: var(--borda-radius);
    box-shadow: var(--sombra);
    width:300px ;
}

h1{
    color: var(--cor-primaria);

}

button{
    background-color: var(--cor-primaria);
    color: azure;
    border: none;
    padding: 10px 20px;
    border-radius: var(--borda-radius);
    cursor: pointer;
}

button:hover{
    background-color: var(--cor-segundaria);

}